body{
    background-image: url(Pics/Back.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;

}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 20px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color:rgb(31, 35, 255);
}

.nav{
  display: flex;
  gap: 25px;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s color ease;
}

.nav a:hover{
    color: rgb(0, 89, 255);
}

.images{
    gap: 5px;
    padding-left: 35px;
    display: flex;


}

.images img{
    width: px;
    height: 300px;
    margin-top: 5em;

}
table {
    width: 100%;
    max-width: 500px;         
    margin: 40px 20px;    
    border-collapse: collapse;
    color: #ffffff;

       
}

table th, table td {
    padding: 12px 16px;       
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-top: none;  
    border-left: none;
    border-right: none;
    padding: 15px;


}

table td ul{
    padding-left: 20px;
}

table td li{
    margin-bottom: 8px;

}

th {
    background-color: rgb(219, 232, 45);
    color: #17b009;
    text-align: left;
}

td {
    color: #000000;

}



.form-container {
    position: absolute;
    top: 70%;
    left: 550px;
    padding: 20px;
    color: #ffffff;

}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;  



}

form input{
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

form button{
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 89, 255);
    color: #ffffff;
    cursor: pointer;
    width: 100%;
}

form button:hover{
    background-color: rgb(0, 0, 255);
}

h3{
    color: #000000;
    text-align: center;
}


